<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Noob Framework</title>
    <link rel="stylesheet" href="public/css/styles.css" type="text/css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h3>Simple and easy to use</h3>
        <span>A MVC framework in PHP for beginners</span>
      </header>
      <nav>
        <h3>Noob Framework</h3>
        <a href="#docs">Docs</a
        ><a href="https://github.com/edigar/noobframework" target="_blank"
          >Github</a
        >
      </nav>
      <main>
        <div class="background-filter"></div>
        <div class="content">
          <h1>The PHP framework<br />created to make your life easier.</h1>
          <a href="#docs">Documentation</a>
        </div>
      </main>
      <section>
        <h1 class="title" id="docs">Documentation</h1>
        <article>
          <div class="content-article">
            <h3>How to use Controllers?</h3>
            <p>
              It's simple. We will have to import the class located in Core/Controller.php
              and extend it in the controller class as in the example on the side.
              The class name, together with the method name, will be the name of the access
              route to the controller. In the case of the example, it would be something like:
              <span class="false-link">https://noobframework.com/user/signin</span
              ><br /><br />
              <span class="obs"
                >Note: If the method name is 'index', just call the class name to access it</span
              >. <br /><br />

              In the class, we import we have the view() method. This method is responsible
              for calling the informed view and passing the parameters that have been entered.
              The view() method takes two parameters:
              <br /><br />
              <div class="card">
                <span class="card-title">viewName -></span> 
                <span class="red">Required</span> This parameter indicates the name of the View that should be shown on the screen. The target file extension must be .html, .phtml or .php.
              </div>
              <div class="card">
                <span class="card-title">params -></span> <span class="green">Not required</span> This parameter receives the data that must be passed to be used in the View. The expected data type is a key-value array. Remembering that the name of the key in the array will be the same variable name in the View.
              </div>
            </p>
          </div>
          <div class="preview">
            <div class="windows">
              <button
                id="session-code-window"
                class="focus-1"
                onclick="changeWindow('session-code', true)"
              >
                UserController.php
              </button>
              <button id="html-code-window" onclick="changeWindow('html-code', true)">
                home.html
              </button>
              <button
                id="preview-code-window"
                onclick="changeWindow('preview-code', true)"
              >
                Preview
              </button>
            </div>
            <div class="code">
              <pre id="session-code"><span class="pink">&lt;?php</span>

<span class="pink">namespace</span> <span class="blue">App\Controllers</span>;

<span class="pink">use</span> <span class="blue">Core\Controller</span>;

<span class="pink">class</span> <span class="blue">UserController</span> <span class="pink">extends</span> <span class="blue">Controller</span> {
    
  <span class="pink">public function</span> <span class="green">signin()</span> {
    $params = [
      <span class="yellow">'user'</span> <span class="pink">=></span> [
        <span class="yellow">'name'</span> <span class="pink">=></span> <span class="yellow">'Stephan George'</span>,
        <span class="yellow">'email'</span> <span class="pink">=></span> <span class="yellow">'stephan.george@domain.com'</span>,
      ]
    ];

    <span class="purple">$this-></span><span class="green">view(</span><span class="yellow">'home'</span>, $params<span class="green">)</span>;
  }
}</pre>
              <pre id="html-code" class="invisible">
<span class="pink">&lt;body&gt;</span>
  <span class="pink">&lt;span&gt;</span>&lt;?php echo $user["name"] ?&gt;<span class="pink">&lt;/span&gt;</span>
  <span class="pink">&lt;span&gt;</span>&lt;?php echo $user["email"] ?&gt;<span class="pink">&lt;/span&gt;</span>
<span class="pink">&lt;\body&gt;</span></pre>
              <pre id="preview-code" class="invisible">
Stephan George
stephan.george@domain.com
              </pre>
            </div>
          </div>
        </article>
        <article>
          <div class="content-article">
            <h3>How to use Models and Database?</h3>
            <p>
              First of all, we need to create a file with the name config.php in the config folder. The file should follow the example of the code below with the desired values.
              <div class="code-incorpored">
                <pre><span class="pink">&lt;?php</span>
                
<span class="pink">return</span> [
  <span class="yellow">'db'</span> <span class="pink">=></span> [
    <span class="yellow">'driver'</span> <span class="pink">=></span> <span class="yellow">'mysql'</span>,
    <span class="yellow">'host'</span> <span class="pink">=></span> <span class="yellow">'localhost'</span>,
    <span class="yellow">'dbname'</span> <span class="pink">=></span> <span class="yellow">'foo'</span>,
    <span class="yellow">'user'</span> <span class="pink">=></span> <span class="yellow">'root'</span>,
    <span class="yellow">'pass'</span>  <span class="pink">=></span> <span class="yellow">'root'</span>
    <span class="comment">// Use '' if you don't use a password.</span>
  ],
];
                </pre>
              </div>
              <span class="obs"
                >Note: If you don't have a password, put empty quotes.</span
              >
            </p>
            <p>
              Done! Configs ready! Now we can create our Model and start enjoying the database.

              <br /><br />

              To create a model, we need to import and extend the Database class located in Core / Database.php. In this class, we have some methods to facilitate access to the database. Let's see these methods below:<br /><br />

              <div class="card">
                <span class="card-title">getInstance() -></span> Return a database instance.
              </div>
              <div class="card">
                <span class="card-title">getList(table, columns, conditions) -></span> Searches information in the database according to the conditions informed.
              </div>
              <div class="card">
                <span class="card-title">insert(table, data) -></span> Inserts the data informed in the table passed in the parameter.
              </div>
              <div class="card">
                <span class="card-title">update(table, data, conditions) -></span> Update many or one value according to the conditions informed.
              </div>
              <div class="card">
                <span class="card-title">delete(table, conditions) -></span> Delete many or one value according to the conditions informed
              </div>
            </p> 
          </div>
          <div class="preview">
            <div class="windows">
              <button
                id="user-code-window"
                class="focus-2"
                onclick="changeWindow('user-code', false)"
              >
                User.php
              </button>
              <button id="session-model-code-window" onclick="changeWindow('session-model-code', false)">
                SessionController.php
              </button>
            </div>
            <div class="code">

              <pre id="user-code"><span class="pink">&lt;?php</span>

<span class="pink">namespace</span> <span class="blue">App\Models;</span>

<span class="pink">use</span> <span class="blue">Core\Database;</span>

<span class="pink">class</span> <span class="blue">User</span> {
  <span class="pink">private</span> <span class="purple">table</span> <span class="pink">=</span> <span class="yellow">'users'</span>;

  <span class="pink">public function</span> <span class="green">find(</span>$columns <span class="pink">=</span> <span class="yellow">'*'</span>, $conditions <span class="pink">=</span> <span class="purple">null</span><span class="green">)</span> {
    $db = <span class="blue">Database</span><span class="green">::getInstance()</span>;

    $data <span class="pink">=</span> $db<span class="green"><span class="pink">-></span>getList(</span><span class="purple">$this</span><span class="pink">-></span><span class="purple">table</span>, $columns, $conditions<span class="green">)</span>;

    <span class="pink">return</span> $data;
  }
}</pre>
<pre id="session-model-code" class="invisible"><span class="pink">&lt;?php</span>

<span class="pink">namespace</span> <span class="blue">App\Controllers</span>;

<span class="pink">use</span> <span class="blue">Core\Controller</span>;
<span class="pink">use</span> <span class="blue">App\Models\User</span>;

<span class="pink">class</span> <span class="blue">SessionController</span> <span class="pink">extends</span> <span class="blue">Controller</span> {
  <span class="pink">public function</span> <span class="green">index()</span> {
    $email <span class="pink">=</span> <span class="yellow">'stephan.george@domain.com'</span>;
    $user <span class="pink">=</span> <span class="pink">new</span> <span class="blue">User()</span>;
    $targetUser <span class="pink">=</span> $user<span class="pink">-></span><span class="green">find(<span class="purple">null</span>, <span class="yellow">'email = '</span> <span class="pink">.</span></span> $email<span class="green">)</span>;

    <span class="purple">$this-></span><span class="green">view(</span><span class="yellow">'home'</span>, [<span class="yellow">'user'</span> <span class="pink">=></span> $targetUser]<span class="green">)</span>;
  }
}</pre>
              <pre id="html-code" class="invisible">
<span class="pink">&lt;body&gt;</span>
  <span class="pink">&lt;span&gt;</span>&lt;?php echo $user["name"] ?&gt;<span class="pink">&lt;/span&gt;</span>
<span class="pink">&lt;\body&gt;</span></pre>
              <pre id="preview-code" class="invisible">
Stephan George
              </pre>
            </div>
          </div>
        </article>
      </section>
      <footer>
        <span>Website developed by Maxwell Olliver</span>
        <h3 class="logo-dancing">Noob Framework</h3>
      </footer>
    </div>

    <script>
      function changeWindow(context, first) {
        let target = first ? 'focus-1' : 'focus-2';
        let focused = document.querySelector('.' + target);

        console.log(focused.id)
        focused.classList.remove(target);
        document
          .querySelector(`#${focused.id.replace('-window', '')}`)
          .classList.add('invisible');

        document.querySelector(`#${context}`).classList.remove('invisible');
        document.querySelector(`#${context}-window`).classList.add(target);
      }
    </script>
  </body>
</html>
